/* import my file styles.css */
@import url("styles.css");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  user-select: none !important;
  color: whitesmoke;
  font-family: monospace;
  font-size: large;
}

body {
    height: 100vh;
    background-color: #1f2334;
    color: rgb(242, 243, 246);
}

button {
  background-color: #ff4654;
  border-radius: 15px;
  padding: 15px;
  cursor: pointer;
  transition: all 0.3s;
  font-weight: 900;
  box-shadow: #1a1717 5px 3px 5px 0px;
  text-decoration: none;
}

h1 {
  font-size: 2rem;
  margin: 1rem;
  margin-left: 0;
}

h2 {
  font-size: 1.5rem;
  margin: 1rem;
  margin-left: 0;

}

h3 {
  font-size: 1.2rem;
  margin: 1rem;
  margin-left: 0;

}

h4 {
  font-size: 1rem;
  margin: 1rem;
  margin-left: 0;

} 