<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="{{ url_for('static', filename='images/Logo50.png') }}" type="image/png">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    <title>Conditions d'utilisation</title>
</head>
<body style="padding: 15%;  padding-top: 5%;">
    <h1>Conditions d'Utilisation</h1>

    <h2>Introduction</h2>
    <p>Bienvenue sur notre site dédié à l'organisation de tournois amateurs et semi-professionnels de Valorant. En accédant et en utilisant notre site, vous acceptez de respecter et d'être lié par les présentes Conditions d'Utilisation. Veuillez les lire attentivement.</p>
    
    <h2>Utilisation du Site</h2>
    <h3>Éligibilité</h3>
    <p>Vous devez être âgé de 13 ans ou plus pour utiliser notre site. Les utilisateurs âgés de moins de 18 ans doivent obtenir l'autorisation de leurs parents ou tuteurs légaux.</p>
    
    <h3>Compte Utilisateur</h3>
    <p>Pour participer aux tournois, vous devez créer un compte en fournissant des informations exactes et complètes. Vous êtes responsable de maintenir la confidentialité de votre mot de passe et de votre compte.</p>
    
    <h3>Véracité des Informations</h3>
    <p>Vous vous engagez à fournir des informations véridiques et à jour. Toute fausse information peut entraîner la suspension ou la suppression de votre compte.</p>
    
    <h2>Comportement des Utilisateurs</h2>
    <h3>Respect et Courtoisie</h3>
    <p>Vous devez respecter les autres utilisateurs et ne pas vous livrer à des comportements offensants, abusifs ou inappropriés.</p>
    
    <h3>Utilisation Légitime</h3>
    <p>Vous vous engagez à utiliser notre site uniquement à des fins légitimes et conformes à toutes les lois et réglementations applicables.</p>
    
    <h3>Contenu Inapproprié</h3>
    <p>Il est interdit de publier ou de partager du contenu illégal, offensant, diffamatoire, obscène ou autrement inapproprié.</p>
    
    <h2>Organisation des Tournois / Lobbies</h2>
    <h3>Création et Participation aux Équipes</h3>
    <p>Vous pouvez créer votre propre équipe et inviter d'autres joueurs à la rejoindre. Une fois votre équipe constituée, vous pouvez participer aux tournois et aux lobbies proposés sur notre site.</p>
    
    <h3>Règles des lobbies</h3>
    <p>Les parties se déroulent selon le mode de jeu "partie classée" de Valorant (les joueurs accumulent des points en participant au mode "partie classée"). Chaque joueur est limité à trois matchs par lobby, et les performances sont évaluées pour déterminer les points et les trophées attribués.</p>
    
    <h3>Règles des tournois</h3>
    <p>Huit équipes sélectionnées en fonction du classement mensuel s'affrontent. Le tournoi se déroule sur deux jours définis un mois à l'avance. Le tournoi a lieu en dehors de notre site internet et est géré par notre staff.</p>
    
    <h3>Classements et Récompenses</h3>
    <p>Les équipes accumulent des trophées en fonction de leurs performances. À la fin de chaque mois, les huit meilleures équipes sont invitées à participer à un tournoi en ligne avec un Cash Prize.</p>
    
    <h2>Propriété Intellectuelle</h2>
    <h3>Contenu du Site</h3>
    <p>Tout le contenu disponible sur notre site, y compris les textes, graphiques, logos, images et logiciels, est notre propriété ou celle de nos concédants de licence et est protégé par les lois sur le droit d'auteur et autres lois sur la propriété intellectuelle.</p>
    
    <h3>Licence Limitée</h3>
    <p>Nous vous accordons une licence limitée, non exclusive et non transférable pour accéder et utiliser notre site conformément à ces Conditions d'Utilisation.</p>
    
    <h2>Limitation de Responsabilité</h2>
    <h3>Utilisation du Site</h3>
    <p>Vous utilisez notre site à vos propres risques. Nous ne garantissons pas que le site sera exempt d'erreurs, de virus ou d'autres composants nuisibles.</p>
    
    <h3>Exclusion de Garantie</h3>
    <p>Nous déclinons toute garantie, explicite ou implicite, concernant l'exactitude, la fiabilité ou la disponibilité du site et de son contenu.</p>
    
    <h3>Limitation des dommages</h3>
    <p>Nous ne serons pas responsables des dommages indirects, consécutifs, exemplaires ou punitifs, y compris les pertes de profits, résultant de votre utilisation du site.</p>
    
    <h2>Modifications des Conditions</h2>
    <p>Nous nous réservons le droit de modifier ces Conditions d'Utilisation à tout moment. Toute modification sera publiée sur cette page avec la date de révision mise à jour. Il vous incombe de consulter régulièrement cette page pour prendre connaissance des changements. Votre utilisation continue du site après la publication des modifications constitue votre acceptation de celles-ci.</p>
    
    <h2>Résiliation</h2>
    <p>Nous nous réservons le droit de suspendre ou de résilier votre accès à notre site à tout moment, sans préavis, pour toute violation de ces Conditions d'Utilisation ou pour toute autre raison à notre seule discrétion.</p>
    
    <h2>Contact</h2>
    <p>Pour toute question ou préoccupation concernant ces Conditions d'Utilisation, veuillez nous contacter à l'adresse suivante : <a href="mailto:contact@wellplaytournament.com">contact@wellplaytournament.com</a></p>
    
    <p>En utilisant notre site, vous acceptez ces Conditions d'Utilisation. Merci de faire confiance à notre plateforme pour vos tournois de Valorant.</p>
    
</body>
</html>