<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="{{ url_for('static', filename='images/Logo50.png') }}" type="image/png">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    <title>Well Play</title>
</head>

<body>
    <div id="main_container">
        <h1>Create or join your team</h1>
        
        <p>This is one of the site's main pages, with 2 important functions:<br>
            <li>
            “Create your team”: This button lets you create your team and takes you to page 2. We also have a "I don't have a team" option that redirects you to our discord where you can find teammates.
        </li>
        <li>
            “Join a team”: This button gives you access to the list of teams already created but not yet complete, and whose status has been set as public by the team manager.</p>
        </li>
            <img src="{{ url_for('static', filename='/images/page_1.png') }}" type="image/png">
            <h1>Create / Invite your team</h1>
            <p>This page lets you invite (by clicking on the "Invite" button) any user/friend of the platform to join your team.<br>

                if incomplete: <br>
                
                <li>

                

                You can save your team (by clicking on the "Save" button), and finish it later, so you'll be redirected to page 3.<br>
            </li>
                if complete: <br>
                <li>
                You can create your team only if you've invited all 5 players (by clicking on the "Create team" button), so you'll be redirected to page 3.</p>
            </li>
                <img src="{{ url_for('static', filename='/images/page_2.png') }}" type="image/png">

            <h1>Team lobby </h1>
            <p>This page is considered the team's main page.<br>
                Once the team is complete, it can search for a lobby (by clicking on "search a lobby") redirected to page 4.

                There's also an "edit" option, accessible only by the team leader, which lets you add or remove team members.
                </p>
                <img src="{{ url_for('static', filename='/images/page_3.png') }}" type="image/png">

            <h1>Tournament lobby</h1>
           <p> After searching for your  lobby, you'll enter a lobby with 3 other teams. <br>

            Over the course of 24 hours, each player on each team will accumulate points in an attempt to finish first in their lobby.

            The APIs provided by RIOT allow us to access the game history of the players on each team. To earn points for their team, <br>
            players must play a maximum of 3 games (in “ranked game” game mode), and their K/D/A will be counted to award more or less points to their team. <br>
            (example : “player 3” played 1 game out of the 3 and brought 3 points to his team).</p>
                <img src="{{ url_for('static', filename='/images/page_4.png') }}" type="image/png">

        <h1>Ranking page </h1>
        <p>This league table lists the best teams on the platform (reset every month, along with all accumulated trophies).<br>

            The top 8 from this final ranking will be selected for a monthly tournament, which will be broadcast and we will offer a cash prize to the winning team</p>
            <img src="{{ url_for('static', filename='/images/page_5.png') }}" type="image/png">


        <h1>Rank Explanation Page</h1>
        <p>This page simply provides an explanation of each grade and the different trophies you need to accumulate to reach it. <br>

            This ranking system is not in competition with riot's, it simply allows teams with more or less trophies to be placed together and offers a fun aspect.</p>
        <img src="{{ url_for('static', filename='/images/page_6.png') }}" type="image/png">


        <h1>Team Profile</h1>
        <p>This page is public and allows you to share your team's progress with all users.</p>
        <img src="{{ url_for('static', filename='/images/page_7.png') }}" type="image/png">


        <h1>Profile</h1>
        <p>This page is public and allows you to share your progress with all users.</p>
        <img src="{{ url_for('static', filename='/images/page_8.png') }}" type="image/png">

        <footer></footer>
    </div>
</body>
<style>

    #main_container {
       
        justify-content: center;
        padding: 15px;
    }

    img{
        margin: 25px;
        margin-bottom: 15vh;
        width: -webkit-fill-available;
    }

    *{
        color: #ededef;
        font-family: monospace;
    }

    h1{
        margin-bottom: 1rem;
    }

    /* At the top level of your code */
    @media screen and (min-width: 900px) {
        #main_container  {
            padding: 12rem 25rem 2rem 25rem;
        }

    footer{
        height: 1px;
        margin-top: 2vh;
    }
}
</style>

</html>