<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="{{ url_for('static', filename='images/Logo50.png') }}" type="image/png">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    <title>Politique de confidentialité</title>
</head>
<body style="padding: 15%; padding-top: 5%;">
    <h1>Politique de Confidentialité</h1>

<h2>Introduction</h2>
<p>Bienvenue sur notre site dédié aux tournois amateurs et semi-professionnels de Valorant. Nous attachons une grande importance à la confidentialité et à la protection de vos données personnelles. Cette politique de confidentialité vise à vous informer sur la manière dont nous collectons, utilisons, stockons et protégeons vos informations personnelles.</p>

<h2>Collecte des Informations</h2>
<p>Nous collectons uniquement les informations nécessaires pour organiser et gérer les tournois sur notre plateforme. Les types d'informations que nous collectons incluent :</p>

<h3>Informations d'Inscription</h3>
<p>Lorsque vous créez un compte, nous recueillons des informations telles que votre nom, adresse e-mail, nom d'utilisateur et mot de passe.</p>

<h3>Informations sur les Performances de Jeu</h3>
<p>Nous collectons des données sur vos performances dans les parties classées de Valorant, y compris K/D/A et le résultat de vos parties (victoire, défaite ou égalité).</p>

<h3>Interactions sur la Plateforme</h3>
<p>Nous collectons des informations sur vos interactions avec d'autres joueurs, notamment les messages envoyés dans les groupes de discussion et les amitiés établies.</p>

<h2>Utilisation des Informations</h2>
<p>Les informations collectées sont utilisées pour :</p>

<h3>Gestion des tournois</h3>
<p>Organiser et gérer les tournois, y compris le suivi des points et des trophées, et déterminer les équipes qualifiées pour les tournois mensuels.</p>

<h3>Amélioration de l'Expérience Utilisateur</h3>
<p>Améliorer la fonctionnalité et la convivialité de notre plateforme en fonction des retours et des performances des utilisateurs.</p>

<h3>Communication</h3>
<p>Envoyer des mises à jour, des notifications importantes concernant les tournois et des informations sur nos services.</p>

<h3>Classements et Profil Public</h3>
<p>Afficher les profils des joueurs et des équipes, ainsi que les classements mensuels basés sur les trophées accumulés. Créer des classements éphémères en fonction des performances des joueurs durant les 24 heures des lobbies.</p>

<h2>Partage des Informations</h2>
<p>Nous ne partageons pas vos informations personnelles avec des tiers, sauf dans les cas suivants :</p>

<h3>Avec votre consentement</h3>
<p>Lorsque vous nous donnez votre consentement explicite pour partager vos informations.</p>

<h3>Obligations légales</h3>
<p>Lorsque cela est requis par la loi ou pour répondre à des procédures judiciaires.</p>

<h3>Protection de nos Droits</h3>
<p>Pour protéger et défendre nos droits et notre propriété.</p>

<h2>Sécurité des Informations</h2>
<p>Nous mettons en œuvre des mesures de sécurité appropriées pour protéger vos informations personnelles contre l'accès non autorisé, l'altération, la divulgation ou la destruction. Ces mesures comprennent :</p>

<h3>Cryptage des Données</h3>
<p>Utilisation de technologies de cryptage pour protéger les informations sensibles.</p>

<h3>Contrôles d'accès</h3>
<p>Limitation de l'accès aux informations personnelles aux seuls employés et partenaires qui en ont besoin pour exécuter leurs tâches.</p>

<h2>Conservation des Informations</h2>
<p>Nous conservons vos informations personnelles aussi longtemps que nécessaire pour atteindre les objectifs décrits dans cette politique de confidentialité, sauf si une période de conservation plus longue est requise ou autorisée par la loi.</p>

<h2>Vos Droits</h2>
<p>Vous avez le droit de :</p>

<h3>Accéder à vos informations</h3>
<p>Demander une copie des informations personnelles que nous détenons à votre sujet.</p>

<h3>Corriger vos Informations</h3>
<p>Demander la correction de toute information inexacte ou incomplète.</p>

<h3>Supprimer Vos Informations</h3>
<p>Demander la suppression de vos informations personnelles, sous réserve de certaines exceptions légales.</p>

<h3>Opposer à Traitement</h3>
<p>Vous opposer au traitement de vos informations personnelles dans certaines circonstances.</p>

<h2>Modifications de la Politique de Confidentialité</h2>
<p>Nous pouvons mettre à jour cette politique de confidentialité de temps à autre pour refléter les changements apportés à nos pratiques ou pour d'autres raisons opérationnelles, légales ou réglementaires. Nous vous informerons de toute modification en publiant la nouvelle politique sur notre site et en mettant à jour la date de révision en haut de cette page.</p>

<h2>Contact</h2>
<p>Pour toute question ou demande concernant cette politique de confidentialité, veuillez nous contacter à l'adresse suivante : <a href="mailto:contact@wellplaytournament.com">contact@wellplaytournament.com</a></p>

<p>En utilisant notre site, vous acceptez les termes de cette politique de confidentialité. Merci de faire confiance à notre plateforme pour vos tournois de Valorant.</p>

</body>
</html>